<div class="flex justify-between items-center mb-6">
  <h2 class="text-lg font-medium text-slate-600">
    {{ "MD_HOUSES.TITLE" | translate }}
  </h2>
  <button
    (click)="openDialog()"
    class="bg-[#1A1C21] text-white px-5 py-2.5 rounded-xl text-sm font-semibold flex items-center gap-2 hover:bg-slate-800 transition-colors shadow-lg shadow-slate-200">
    <i class="pi pi-plus text-xs"></i>
    <span>{{ "COMMON.NEW_RECORD" | translate }}</span>
  </button>
</div>

<input
  #fileInput
  type="file"
  style="display: none"
  accept=".csv"
  (change)="onFileSelected($event)" />

<p-table
  [value]="dataSource()"
  [tableStyle]="{ 'min-width': '50rem' }"
  [paginator]="true"
  [rows]="10"
  stripedRows>
  <ng-template pTemplate="header">
    <tr>
      <th
        pSortableColumn="name"
        style="width: 30%">
        {{ "MD_HOUSES.NAME" | translate }}
        <p-sortIcon field="name" />
      </th>
      <th
        pSortableColumn="area"
        style="width: 25%">
        {{ "MD_HOUSES.AREA" | translate }}
        <p-sortIcon field="area" />
      </th>
      <th
        pSortableColumn="capacity"
        style="width: 25%">
        {{ "MD_HOUSES.CAPACITY" | translate }}
        <p-sortIcon field="capacity" />
      </th>
      <th style="width: 20%">{{ "COMMON.ACTIONS" | translate }}</th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-h>
    <tr>
      <td class="font-medium text-[#1A1C21]">
        {{ h.name }}
      </td>
      <td>
        <span class="bg-slate-100 text-slate-600 px-2 py-1 rounded text-sm font-medium">{{ h.area }} m²</span>
      </td>
      <td>
        <span class="text-slate-600 font-medium">
          {{ h.capacity }}
        </span>
      </td>
      <td>
        <div class="flex gap-2">
          <p-button
            icon="pi pi-upload"
            [rounded]="true"
            [text]="true"
            severity="info"
            (onClick)="triggerUpload(h.id)"
            pTooltip="Import CSV Data" />

          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            severity="secondary"
            (onClick)="openDialog(h)"
            [pTooltip]="'COMMON.EDIT' | translate" />
          <p-button
            icon="pi pi-trash"
            [rounded]="true"
            [text]="true"
            severity="danger"
            (onClick)="deleteHouse(h.id)"
            [pTooltip]="'COMMON.DELETE' | translate" />
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td
        colspan="4"
        class="text-center p-4">
        {{ "MD_HOUSES.NO_DATA" | translate }}
      </td>
    </tr>
  </ng-template>
</p-table>
