<div class="flex justify-between items-center mb-4">
  <h2 class="text-lg font-medium text-slate-600">Список птичников</h2>
  <p-button
    label="Добавить"
    icon="pi pi-plus"
    severity="contrast" />
</div>

<p-table
  [value]="dataSource()"
  stripedRows>
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Area</th>
      <th>Capacity</th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-h>
    <tr>
      <td>{{ h.id }}</td>
      <td>{{ h.name }}</td>
      <td>{{ h.area }}</td>
      <td>{{ h.capacity }}</td>
    </tr>
  </ng-template>
</p-table>
