.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.active-link {
  background-color: rgba(0, 0, 0, 0.04);
  color: #3f51b5; // Primary color

  mat-icon {
    color: #3f51b5;
  }
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 24px;
  background-color: #fafafa;
  min-height: calc(100vh - 64px); // Toolbar height
}
