<div class="flex justify-between items-center mb-4">
  <h2 class="text-lg font-medium text-slate-600">Журнал взвешивания</h2>
  <p-button
    label="Add Record"
    icon="pi pi-plus"
    (onClick)="openDialog()" />
</div>

<p-table
  [value]="dataSource()"
  [tableStyle]="{ 'min-width': '50rem' }"
  [paginator]="true"
  [rows]="10"
  stripedRows>
  <ng-template pTemplate="header">
    <tr>
      <th
        pSortableColumn="date"
        style="width: 20%">
        Date
        <p-sortIcon field="date" />
      </th>
      <th
        pSortableColumn="houseName"
        style="width: 20%">
        House
        <p-sortIcon field="houseName" />
      </th>
      <th
        pSortableColumn="weightGrams"
        style="width: 15%">
        Weight (g)
        <p-sortIcon field="weightGrams" />
      </th>
      <th style="width: 15%">Music</th>
      <th style="width: 20%">Responsible</th>
      <th style="width: 10%">Video</th>
      <th style="width: 10%">Actions</th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-element>
    <tr>
      <td>{{ element.date | date: "shortDate" }}</td>
      <td>{{ element.houseName }}</td>
      <td class="font-bold">{{ element.weightGrams }}</td>
      <td>
        <i
          *ngIf="element.isMusicPlayed"
          class="pi pi-music text-green-600 text-lg"
          title="Music Played"></i>
        <span
          *ngIf="!element.isMusicPlayed"
          class="text-slate-400">
          -
        </span>
      </td>
      <td>{{ element.personnelName || "-" }}</td>
      <td>
        <p-button
          *ngIf="element.videoUrl"
          icon="pi pi-video"
          [rounded]="true"
          [text]="true"
          severity="secondary"
          (onClick)="viewVideo(element.videoUrl)"
          pTooltip="View Video" />
      </td>
      <td>
        <p-button
          icon="pi pi-trash"
          [rounded]="true"
          [text]="true"
          severity="danger"
          (onClick)="deleteRecord(element.id)" />
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td
        colspan="7"
        class="text-center p-4">
        No weighing records found.
      </td>
    </tr>
  </ng-template>
</p-table>
