/* Сначала внешние ресурсы и шрифты */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Затем фреймворк и иконки */
@import "tailwindcss";
@import "primeicons/primeicons.css";

@font-face {
  font-family: "RoadRadio";
  src: local("Arial Black");
}

@layer base {
  html {
    font-family: "Inter", sans-serif;
    background-color: #f8f9fb;
    color: #1a1c21;
  }
}

:root {
  --p-surface-50: #f8f9fb;
  --p-surface-100: #ffffff;
  --p-primary-color: #4caf50;
  --p-primary-500: #4caf50;
  --p-content-border-radius: 16px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 99px;
}
